body {
    padding-top: 95px;
    align-items: end;
    background-image: none;
    /* background-image: url(../assets/images/background-chat.jpg); */
}

.top-bar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: #ff6600;
    width: 100%;
}

.top-bar h2 {
    color: white;
    flex-grow: 1;
    text-align: center;
}

.top-bar a{
    width: 50px;
    right: 30px;
    align-content: center;
}

.top-bar a i{
    font-size: 2rem;
    color: #ffffff;
}

.contact-list-container {
    margin-top: 10px;
    padding: 10;
}

.contact-tile {
    --app-color-time: #74dff6;
    --app-color-focus: #ffec4e;
    background-color: #d3d3d3cd;
    display: grid;
    grid-template-columns: 2fr 8fr 8fr;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 0;
    column-gap: 2;
    border: none;
    width: 100%;
    height: 3rem;
    font-size: 0px;
    margin-bottom: 2px;
}

.contact-tile .leading{
    flex-flow: 1 / span 1;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.5rem;
    margin-right: 1rem;
    color: var(--app-color-focus);
    align-content: center;
    height: 100%;
}

.contact-tile .leading h2{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.3rem;
    border: 2px solid var(--app-color-focus);
    border-radius: 50%;
    font-size: 2rem;
}

.contact-tile .contact-username{
    flex-flow: 2 / span 1;
    height: min-content;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    
}

.contact-tile .contact-username h2{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5rem;
}

.contact-tile .contact-username h2::before{
    content: 'Username: ';
    color: #ff6600;
}

.contact-tile .contact-email{
    flex-flow: 3 / span 1;
    color: black;
    height: min-content;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 5px;
}

.contact-tile .contact-email h4{
    font-size: 1.5rem;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    align-content:start;
    justify-content: start;
}

.contact-tile .contact-email h4::before{
   content: 'Email: ';
   color: #ff6600;
}

.fa-solid,.fa-user {
    font-size: large;
}

@media (max-width:600px) {

    body {
        margin-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .contact-tile {
        margin-bottom: 10px;
    }

    .contact-tile .contact-username h2{
        font-size: 1rem;
    }

    .contact-tile .contact-username h2::before{
        display: flex;
        content: 'Username: ';
        color: #ff6600;
        font-size: 1rem;
    }

    .contact-tile .contact-email h4::before{
        display: flex;
        content: 'Email: ';
        color: #ff6600;
        font-size: 1rem;
     }

    .contact-tile .contact-email h4{
        font-size: 1rem;
     }

     .contact-tile {
        border-radius: 15px;
        height: 4.5rem;
     }
     

}